<div class="basic-container">
    <div class = "row">
        <span>Payment options</span>
    </div>
    <div class = "row">
        <div class="col-6 fw-semibold mt-3">
            <span>Add credit card</span>
        </div>
        <div class="col-6 fw-semibold mt-2">
          <button type="button" class="btn btn-sm btn-outline-secondary float-end" data-bs-toggle="modal" data-bs-target="#myModal">
            <fa-icon [icon]="arrowRight">

            </fa-icon>
          </button>
        </div>
    </div>
    <div class="row-col">
      <div>
        <span>Cards</span>
      </div>
      <div *ngFor="let paymentMethod of paymentMethods">

        <div class="row mt-3">
          <div class="col">
            <span>{{paymentMethod.creditCard}}</span>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="setDefault(paymentMethod)" *ngIf="!paymentMethod._default">
              Set as default
            </button>
            <span class="badge bg-success" *ngIf="paymentMethod._default">Default</span>
          </div>

      </div>
    </div>
</div>


<!--Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header d-flex justify-content-center align-items-center">
           <h6 class="text-center">Card Details</h6>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="container">
                <div class="row">
                    <span>The information about your card are protected</span>
                </div>
            </div>
            <div class="basic-container mb-4">

                <div class="row align-items-center">
                    <div class="col-12 ml-2">
                        <span>Card's holder name</span>
                    </div>

                    <div class="col-8 mt-2">
                        <input ngModel type="text" class="form-control" placeholder="{{cardOwnerPlaceholder}}" (input)="setCardOwnerName($event)">
                    </div>
                </div>
            </div>
            <div class="basic-container mb-4">
                <div class="row align-items-center">
                    <div class="col-12 ml-2">
                        <span>Number of the card</span>
                    </div>

                    <div class="col-8 mt-2">
                        <input type="text" class="form-control" placeholder="{{cardNumberPlaceholder}}" (input)="formatCardNumber($event)" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    </div>
                </div>
            </div>

            <div class="basic-container mb-4">
                <div class="row align-items-center">
                    <div class="col-12 ml-2">
                        <span>Expiration Day</span>
                    </div>

                    <div class="col-8 mt-2">
                        <input type="text" class="form-control" placeholder="{{expirationDayPlaceholder}}" (input)="formatDateInput($event)">
                    </div>
                </div>
            </div>
          </form>
        </div>

        <div *ngIf="error == true" class="alert alert-danger mt-1 m-2">
            <div>{{alertErrorMessage}}</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="" (click)="save()">Save</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>





