<div class="container mt-5">

  <div *ngIf="order == undefined">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>


  <div *ngIf="order" class="basic-container">


    <h3 class="">Order for</h3>


    <div class="row">
      <product-card [product]="product" class="col-12 col-sm-6 col-md-4 col-lg-3"></product-card>

      <div class="col">
        <div class="vstack gap-3">

          <div class="card p-2 shadow-sm">

            <!-- ORDER CARD -->

            <div class="d-flex align-items-center">
              <span class="fw-semibold me-3">
                Order
              </span>

              <span class="text-muted">
                created: <span class="fw-semibold">{{order.orderDate | date }}</span>
              </span>
              <span class="ms-4 text-muted">
                last modified: <span class="fw-semibold">{{order.orderUpdateDate | date }}</span>
              </span>
              <div class="ms-auto alert py-1 px-2 m-0" [ngClass]="getStateColor('alert-')">
                <span>Order state: </span>
                <span class="fw-semibold me-2">
                  {{order.state | titlecase}}
                  <fa-icon [icon]="getStateIcon()"></fa-icon>
                </span>
              </div>
            </div>
          </div>


          <!-- OFFER CARD -->

          <div class="card p-2 shadow-sm" *ngIf="hasOffer">

            <div class="d-flex align-items-center">
              <span class="fw-semibold me-3">
                Offer
              </span>

              <div class="text-muted">
                created: <span class="fw-semibold">{{offer?.creationTime | date}}</span>
              </div>
              <div class="ms-4">
                agreed product price: <span class="fw-semibold">{{offer?.amount?.price | currency:offer?.amount?.currency }}</span>
              </div>
              <div class="ms-auto alert py-1 px-2 m-0" [ngClass]="'alert-' + getOfferStateColor()">
                <span>Offer state: </span>
                <span class="fw-semibold me-2">
                  {{offer?.state | titlecase}}
                  <fa-icon [icon]="getOfferStateIcon()"></fa-icon>
                </span>
              </div>

            </div>

          </div>

          <!-- TRANSACTION CARD -->

          <div class="card p-2 shadow-sm" *ngIf="hasTransaction">
            <div class="d-flex align-items-center">

              <span class="fw-semibold me-3">
                Transaction
              </span>

              <div class="text-muted">
                created: <span class="fw-semibold">{{transaction!.creationTime | date}}</span>
              </div>

              <div class="ms-auto alert py-1 px-2 m-0" [ngClass]="transaction!.transactionState == 'COMPLETED' ? 'alert-success' : 'alert-danger'">
                <span>Transaction state: </span>
                <span class="fw-semibold">{{transaction!.transactionState | titlecase}} <fa-icon [icon]="transaction!.transactionState == 'COMPLETED' ? faCheck : faXmark"></fa-icon></span>

              </div>
            </div>

            <div class="card p-2 shadow-sm mt-2">
              <div class="d-flex justify-content-between">
                <div class="hstack gap-2">
                  <span class="fw-semibold">Owner:</span>
                  <span>{{transaction!.paymentMethodOwner}}</span>
                </div>

                <div class="hstack gap-2">
                  <span class="fw-semibold">Card number:</span>
                  <span>{{transaction!.paymentMethod}}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- DELIVERY CARD -->

          <div class="card p-2 shadow-sm" *ngIf="hasDelivery">
            <div>
              <div class="d-flex gap-3 align-items-center">
                <div class="col-auto fw-semibold">
                  Delivery
                </div>

                <div class="ms-auto alert py-1 px-2 m-0" [ngClass]="delivery?.deliveryStatus =='DELIVERED' ? 'alert-success' : 'alert-warning'">
                  <span>Delivery state: </span>
                  <span class="fw-semibold">{{delivery?.deliveryStatus | titlecase}} <fa-icon [icon]="delivery?.deliveryStatus =='DELIVERED' ? faCheck : faTruck"></fa-icon></span>

                </div>
              </div>

            </div>

            <div class="row-col w-100">
              <div class="card p-2 mt-2 shadow-sm">
                <div class="d-flex">

                  <div style="min-width: 120px;">
                    Shipped from:
                  </div>

                  <span class="fw-semibold mx-2">{{delivery?.senderAddress?.street}}, {{delivery?.senderAddress?.city}}, {{delivery?.senderAddress?.country}}</span>

                  <span class="mx-2">Phone: <span class="fw-semibold mx-2">{{delivery?.senderAddress?.phoneNumber}}</span></span>

                  <span class="ms-auto text-muted">{{delivery?.sendTime | date}}</span>
                </div>
              </div>

              <div class="card p-2 mt-2 shadow-sm">

                <div class="d-flex">
                  <span style="min-width: 120px;">
                    {{delivery?.deliveryStatus == 'SHIPPED' ? 'Shipped' : 'Delivered'}} to:
                  </span>

                  <span class="fw-semibold mx-2">{{delivery?.receiverAddress?.street}}, {{delivery?.receiverAddress?.city}}, {{delivery?.receiverAddress?.country}}</span>

                  <span class="mx-2">Phone: <span class="fw-semibold mx-2">{{delivery?.receiverAddress?.phoneNumber}}</span></span>

                  <ng-container *ngIf="delivery?.deliveryStatus == 'DELIVERED'">
                    <span class="ms-auto text-muted">{{delivery?.deliveredTime| date }}</span>
                  </ng-container>
                </div>

              </div>

              <div class="d-flex gap-4 mt-3 px-2">

                <div class="text-muted">
                  Shipped by: <span class="fw-semibold">{{delivery?.shipper}}</span>
                </div>

                <div class="ms-auto">
                  Delivery cost: <span class="fw-semibold">{{delivery?.deliveryCost?.price | currency: delivery?.deliveryCost?.currency}}</span>
                </div>

              </div>
            </div>
          </div>

          <div class="card p-2 shadow-sm" *ngIf="canDoSomething() && !canWriteReview()">
            <div class="d-flex align-items-center">

              <div class="fw-semibold me-auto">
                Actions
              </div>

              <div *ngIf="canCancelOrder()">
                <button class="btn btn-outline-danger" (click)="cancelOrder()">Cancel Order</button>
              </div>

              <div *ngIf="canCreateDelivery()">
                <button class="btn btn-outline-primary" (click)="CreateDelivery()">Create Delivery</button>
              </div>

              <div *ngIf="canMarkAsDelivered()">
                <button class="btn btn-outline-primary" (click)="MarkAsDelivered()">Mark as Delivered</button>
              </div>

              <div *ngIf="canMarkAsCompleted()">
                <button class="btn btn-outline-primary" (click)="MarkAsCompleted()">Mark as Completed</button>
              </div>
            </div>
          </div>

          <div class="card p-2 shadow-sm" *ngIf="canWriteReview()">


            <form (submit)="ReviewOrder()">

              <div class="d-flex gap-3 align-items-center">
                <span class="fw-semibold">
                  Review
                </span>


                <label for="review-title">Title:</label>
                <input type="text" name="review-title" id="review-title" class="form-control me-4" [(ngModel)]="reviewTitle" required>


                <label for="review-rating" class="ms-auto">Rating:</label>
                <ngb-rating id="review-rating" [(rate)]="reviewRating" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <fa-icon [icon]="fill ? faStar : faStarEmpty"></fa-icon>
                  </ng-template>
                </ngb-rating>
              </div>

              <div class="my-3">
                <label for="review-description">description:</label>
                <textarea type="text" name="review-description" id="review-description" class="form-control" [(ngModel)]="reviewDescription" required>
                    </textarea>
              </div>

              <button type="button" class="btn btn-primary" (click)="ReviewOrder()" [disabled]="!canCreateReview()">Review</button>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
