<div class="basic-container">
    <div class = "row fw-lighter">
        <span>Your address</span>
    </div>
    <div class = "row">
        <div class="col-6 fw-bold mt-3">
            <span>Add address</span>
        </div>
        <div class="col-6 fw-bold mt-2">
          <button type="button" class="btn btn-sm btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal">
            freccia
          </button>
        </div>
    </div>
</div>





<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add address</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
            <div class="container mt-4 border-bottom p-2 shadow-sm">
                <div class = "row fw-lighter">
                    <span>Country</span>
                </div>
                <div class = "row">
                    <div class="col-6 fw-bold mt-2">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select country</option>
                            <option value="1">Italy</option>
                            <option value="2">France</option>
                            <option value="3">Russia</option>
                        </select>
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Name and Lastname</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" id="ex3" type="text">
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Address 1</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" id="ex3" type="text">
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Address 2 (optional)</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" id="ex3" type="text">
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Postal Code</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" id="ex3" type="text">
                    </div>
            
                </div>
            
            
            
            </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





