<div *ngFor="let a of addresses; let i=index;">
    <div class="basic-container">
        <div class="row" *ngIf="a.id === defaultAddress?.id; else notDefault">
            <span>Default Address</span>
        </div>
        <ng-template #notDefault class="row fw-lighter">
            <span>Your address</span>
        </ng-template>
        <div class = "row">
            <div class="col-6 fw-semibold mt-3">
                <span>Country</span>
            </div>
            <div class="col-6 fw-semibold mt-2">
                <input name="country" class="form-control" [(ngModel)]="a.country">
            </div>
        </div>
        <div class = "row">
            <div class="col-6 fw-semibold mt-3">
                <span>City</span>
            </div>
            <div class="col-6 fw-semibold mt-2">
                <input name="city" class="form-control" [(ngModel)]="a.city">
            </div>
        </div>
        <div class = "row">
            <div class="col-6 fw-semibold mt-3">
                <span>Street</span>
            </div>
            <div class="col-6 fw-semibold mt-2">
                <input name="street" class="form-control" [(ngModel)]="a.street">
            </div>
        </div>
        <div class = "row">
            <div class="col-6 fw-semibold mt-3">
                <span>Postal code</span>
            </div>
            <div class="col-6 fw-semibold mt-2">
                <input name="zipcode" class="form-control" [(ngModel)]="a.zipCode">
            </div>
        </div>
        <div class = "row">
            <div class="col-6 fw-semibold mt-3">
                <span>Phone number</span>
            </div>
            <div class="col-6 fw-semibold mt-2">
                <input name="street" class="form-control" [(ngModel)]="a.phoneNumber">
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        <button *ngIf="a.id !== defaultAddress?.id" type="button" class="btn btn-outline-secondary" (click)="setDefaultAddress(a)">Set as default</button>
        <button *ngIf="a.id !== defaultAddress?.id" type="button" class="btn btn-danger" (click)="deleteAddress(a,i)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="updateAddress(a)">Save</button>
    </div>        
</div>

<div class="basic-container mb-5">
    <div class="row">
        <div class="col-6 fw-semibold mt-3">
            <span>Add address</span>
        </div>
        <div class="col-6 fw-semibold mt-2">
          <button type="button" class="btn btn-sm btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#myModal">
            <fa-icon [icon]="arrowRight">

            </fa-icon>
          </button>
        </div>
    </div>
</div>


<!--Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add address</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
            <div class="container border-bottom p-2 shadow-sm">
                <div class = "row fw-lighter">
                    <div class="col-6">
                        <span>Country</span>
                    </div>
                    <div class="col-6" *ngIf="country">
                        <span>City</span>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-6 fw-bold mt-2">
                        <select class="form-select" placeholder="Seleziona un paese">
                            <option *ngFor="let c of countries; let i=index;" (click)="onCountrySelected(c)" [ngValue]="c.name">{{c.name}}</option>
                        </select>   
                    </div>
                    <div class="col-6 fw-bold mt-2" *ngIf="country">
                        <select class="form-select" placeholder="Seleziona una città">
                            <option *ngFor="let c of cities; let i=index;" (click)="city=c" [ngValue]="c.name">{{c.name}}</option>
                        </select>   
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Street</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" name="street" [(ngModel)]="street">
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Postal Code</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" name="zip" [(ngModel)]="zipCode">
                    </div>
                    <span class="border-bottom mt-2"></span>
                    <div class = "row fw-lighter mt-2">
                        <span>Phone number</span>
                    </div>
                    <div class="col-xs-4 mt-2">
                        <input class="form-control" name="phone" [(ngModel)]="phoneNumber">
                    </div>
                </div>  
            </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveNewAddress()">Save</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





