<div class="basic-container">
    <div class="row">
        <div class="col-6 text-left float-start fw-semibold">
            <p>Your photo</p>
        </div>

        <div class="col-6">
            <div class = "row align-items-center">
                <div class="col-6 fw-semibold">
                    <img [src]="profilePic | defaultProfilePic" class = "rounded float-end" style = "width: 50px;"> 
                </div>
                <div class="col-6 fw-semibold">
                    <button class="btn btn-sm btn-outline-primary float-end" type="button"  data-bs-toggle="modal" data-bs-target="#changePhotoModal" (click)="resetDropzoneUploads()">Change photo</button> 
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="basic-container">
    <div class="row">
        <div class="col-6 text-left float-start fw-semibold">
            <p>Bio</p>
        </div>

        <div class="col-6">
            <textarea  class="form-control" id="floatingTextArea" placeholder="Enter text"></textarea>
        </div>
    </div>    
</div>


<div class="basic-container">
    <div class = "row fw-lighter">
        <span>Your position</span>
    </div>
    <div class = "row">
        <div class="col-8 fw-semibold mt-3">
            <span>Country</span>
        </div>
        <div class="col-4 fw-semibold mt-2">
            <div class="dropdown">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Country</option>
                    <option value="1">Italy</option>
                    <option value="2">France</option>
                    <option value="3">Russia</option>
                </select>
            </div>
        </div>
        <span class="border-bottom mt-2"></span>
        <div class="col-8 fw-semibold mt-3">
            <span>City</span>
        </div>
        <div class="col-4 fw-semibold mt-2">
            <div class="dropdown">
                <select class="form-select" aria-label="Default select example">
                    <option selected>City</option>
                    <option value="1">Lamezia</option>
                    <option value="2">Montalto Uffugo</option>
                    <option value="3">MaremmaBovaiola</option>
                </select>
            </div>
        </div>
    </div>
</div>


<!--Modal -->
<div class="modal" id="changePhotoModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header d-flex justify-content-center align-items-center">
           <h6 class="text-center">Change photo</h6>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" onended="'ciao'">
          <form>
            <div class="container">
                <div class="row fw-lighter">
                    <span>Choose your profile photo</span>
                </div>
            </div>

            <div class="basic-container mb-4">
                
                <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">              
                    <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                      <dropzone *ngIf="type === 'component'" class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row" fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag images here to upload'" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
              
                      <div *ngIf="type === 'directive'" class="dropzone dropzone-container" [dropzone]="config" [disabled]="disabled" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
                    </div>
                  </div>
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
  </div>

