<div class="col-10 offset-1 flex-grow-0">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
                <div class="row">
                    <div class="col">
                        <h5 class="d-sm-flex" style="margin: 0px 0px 0px 12px;">Settings</h5>
                        <button class="btn text-start col-12" type="button" style="font-size: 13px;">Profile details</button>
                        <button class="btn text-start col-12" type="button" style="font-size: 13px;">Account settings</button>
                        <button class="btn text-start col-12" type="button" style="font-size: 13px;">Shipping</button>
                        <button class="btn text-start col-12" type="button" style="font-size: 13px;">Payments</button>
                        <button class="btn text-start col-12" type="button" style="font-size: 13px;">Notifications</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 d-lg-flex justify-content-lg-start col-sm-8 col-md-9"></div>
        </div>
    </div>