@media (min-height: 100px) {
    .img-box {
        height: 300px !important;
    }
}


.img-box{ height: 300px !important;}

.center-center {
    justify-content: center;
    align-items: center;
}

.align-row {
    margin-left: 0.1%;
}

.btn-remove-image {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
}