<div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="d-grid gap-2 mt-2"></div>
    <div class="row shadow-none p-3 bg-light rounded">
        <div class="col-md-12">
            <div class="row">
                <div class="col mb-2">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label"><small>Aggiungi fino a 10 foto</small></label>
                        <input class="form-control" type="file" value="select" #selectFile (change)="onFileSelected($event)">
                      </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="imagesLoaded.length === 0; else loadPhotos">
                    <div class="d-flex img-box border border-4 center-center">
                        <small class="text-secondary">Carica foto</small>
                    </div>
                </div>
                <ng-template #loadPhotos>
                    <div class="container border border-4">
                        <div *ngFor="let img of imagesLoaded">
                            <div style="position: relative">
                                <i class="bi bi-x btn-remove-image"></i>
                                <img [src]="img" style="width: 100px; height: 100px;"> 
                            </div>
                        </div>
                    </div>  
                </ng-template>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 shadow-none p-3 mb-4 bg-light rounded mt-4">
            <div class="form-group row align-middle align-row">
                <label class="col-sm-2 col-form-label">Titolo</label>
                <div class="col-sm-10">
                  <input type="titolo" class="form-control" placeholder="Dai un titolo al prodotto" [(ngModel)]="title">
                </div>
            </div>
            <hr>
            <div class="form-group row align-middle align-row">
                <label class="col-sm-2 col-form-label">Descrizione</label>
                <div class="col-sm-10">
                  <textarea type="descrizione" class="form-control" placeholder="Inserisci una descrizione" [(ngModel)]="description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow-none p-3 mb-4 bg-light rounded">
        <div class="col-md-12">
            <div class="form-group row align-middle">
                <label class="col-sm-2 col-form-label">Categoria</label>
                <div class="col-sm-10">
                    <!-- <select class="form-select" placeholder="Seleziona una categoria" [(ngModel)]="selectedCategory">
                        <option *ngFor="let c of categoryList" [ngValue]="c">{{c}}</option>
                    </select>                -->
                </div>
            </div>
            <div class="form-group row align-middle mt-4" *ngIf="selectedCategory">
                <label class="col-sm-2 col-form-label">Categorie di {{selectedCategory}}</label>
                <div class="col-sm-10">
                    <select class="form-select" placeholder="Seleziona una categoria" [(ngModel)]="selectedParentCategory">
                        <option *ngFor="let c of categoryList" [ngValue]="c">{{c}}</option>
                    </select>               
                </div>
            </div>

            <div class="form-group row align-middle mt-4" *ngIf="selectedCategory">
                <label class="col-sm-2 col-form-label">Categorie di {{selectedParentCategory}}</label>
                <div class="col-sm-10">
                    <select class="form-select" placeholder="Seleziona una categoria" [(ngModel)]="selectedChildCategory">
                        <option *ngFor="let c of categoryList" [ngValue]="c">{{c}}</option>
                    </select>               
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow-none p-3 mb-4 bg-light rounded">
        <div class="col-md-12">
            <div class="col">
                <div class="form-group row align-middle">
                    <label class="col-sm-2 col-form-label">Prezzo</label>
                    <div class="col-sm-10">
                        <input type="prezzo" class="form-control" placeholder="Inserisci il prezzo" [(ngModel)]="price">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <button class="btn btn-danger" type="button">Annulla</button>
        <button class="btn btn-primary" type="button">Carica</button>
    </div>
</div>
