<div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="d-grid gap-2 mt-2"></div>
    <div class="row shadow-none p-3 bg-light rounded">
        <div class="col-md-12">
            <div class="row">
                <div class="col mb-2">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label"><small>Aggiungi fino a 5 foto</small></label><br>
                        <label class="d-flex justify-content-between form-control btn image-upload-container">
                            <input #imageInput
                                   type="file"
                                   accept="image/*"
                                   (change)="processFile(imageInput)">
                          </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="imagesLoaded.length === 0; else loadPhotos">
                    <div class="d-flex img-box border border-4 center-center">
                        <small class="text-secondary">Carica foto</small>
                    </div>
                </div>
                <ng-template #loadPhotos>
                    <div class="row border border-4">
                        <div class="col-sm-2" *ngFor="let img of imagesLoaded; let i=index;">
                            <img [src]="img" class="hover-effect mt-2 mb-2" style="width: 100%; height: 85%;" (click)="deleteImage(i)"> 
                        </div>
                    </div> 
                </ng-template>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 shadow-none p-3 mb-4 bg-light rounded mt-4">
            <div class="form-group row align-middle align-row">
                <label class="col-sm-2 col-form-label">Titolo</label>
                <div class="col-sm-10">
                  <input type="titolo" class="form-control" placeholder="Dai un titolo al prodotto" [(ngModel)]="title">
                </div>
            </div>
            <hr>
            <div class="form-group row align-middle align-row">
                <label class="col-sm-2 col-form-label">Descrizione</label>
                <div class="col-sm-10">
                  <textarea type="descrizione" class="form-control" placeholder="Inserisci una descrizione" [(ngModel)]="description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow-none p-3 mb-4 bg-light rounded">
        <div class="col-md-12">
            <div class="form-group row align-middle">
                <label class="col-sm-2 col-form-label">Categorie</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona una categoria">
                        <option *ngFor="let c of primaryCategories; let i=index" [ngValue]="c.name" (click)="onCategorySelected(i)">{{c.name}}</option>
                    </select>                
                </div>
                <div class="col-sm-2" *ngIf="selectedCategory">
                    <select class="form-select" placeholder="Seleziona una categoria">
                        <option *ngFor="let c of secondaryCategories; let i=index" [ngValue]="c.name" (click)="onSecondaryCategorySelected(i)">{{c.name}}</option>
                    </select>               
                </div>
                <div class="col-sm-2" *ngIf="selectedSecondaryCategory">
                    <select class="form-select" placeholder="Seleziona una categoria">
                        <option *ngFor="let c of tertiaryCategories; let i=index" [ngValue]="c.name" (click)="onTertiaryCategorySelected(i)">{{c.name}}</option>
                    </select>               
                </div>
                <label class="col-sm-1 col-form-label text-center">Brand</label>
                <div class="col-sm-3">
                    <input type="brand" class="form-control" placeholder="Inserisci il brand del prodotto" [(ngModel)]="brand">            
                </div>
            </div>
            <div class="form-group row align-middle mt-3" *ngIf="selectedTertiaryCategory && selectedCategory?.rawName === 'Clothing'">
                <label class="col-sm-2 col-form-label">Genere</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona un genere" [(ngModel)]="gender">
                        <option *ngFor="let g of genders; let i=index" [ngValue]="g">{{g}}</option>
                    </select>               
                </div>
                <label class="col-sm-2 col-form-label text-center">Taglia</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona una taglia">
                        <option *ngFor="let s of categorySizes; let i=index" [ngValue]="s.sizeName" (click)="onSizeSelected(s)">{{s.sizeName}}</option>
                    </select>               
                </div>
                <label class="col-sm-2 col-form-label text-center">Colore</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona un colore" [(ngModel)]="clothingColour">
                        <option *ngFor="let c of colours; let i=index" [ngValue]="c">{{c}}</option>
                    </select>               
                </div>
            </div>
            <div class="form-group row align-middle mt-3" *ngIf="selectedTertiaryCategory && selectedCategory?.rawName === 'Entertainment'">
                <label class="col-sm-2 col-form-label">Lingua</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona un genere" [(ngModel)]="language">
                        <option *ngFor="let l of languages; let i=index" [ngValue]="l">{{l}}</option>
                    </select>               
                </div>
            </div>
            <div class="form-group row align-middle mt-3" *ngIf="selectedTertiaryCategory && selectedCategory?.rawName === 'Home'">
                <label class="col-sm-2 col-form-label">Materiale</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona un genere" [(ngModel)]="material">
                        <option *ngFor="let m of materials; let i=index" [ngValue]="m">{{m}}</option>
                    </select>               
                </div>
                <label class="col-sm-2 col-form-label text-center">Dimensione</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona una taglia">
                        <option *ngFor="let s of categorySizes; let i=index" [ngValue]="s.sizeName" (click)="onSizeSelected(s)">{{s.sizeName}}</option>
                    </select>               
                </div>
                <label class="col-sm-2 col-form-label text-center">Colore</label>
                <div class="col-sm-2">
                    <select class="form-select" placeholder="Seleziona un colore" [(ngModel)]="homeColour">
                        <option *ngFor="let c of colours; let i=index" [ngValue]="c">{{c}}</option>
                    </select>               
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow-none p-3 mb-4 bg-light rounded">
        <div class="col-md-12">
            <div class="col">
                <div class="form-group row align-middle">
                    <label class="col-sm-2 col-form-label">Condizioni</label>
                    <div class="col-sm-4">
                        <select class="form-select" placeholder="Seleziona una condizione" [(ngModel)]="condition">
                            <option *ngFor="let con of conditions" [ngValue]="con">{{con}}</option>
                        </select>                       
                    </div>
                    <label class="col-sm-2 col-form-label text-center">Visibilità</label>
                    <div class="col-sm-4">
                        <select class="form-select" placeholder="Seleziona una condizione" [(ngModel)]="visibility">
                            <option *ngFor="let v of visibilities" [ngValue]="v">{{v}}</option>
                        </select>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow-none p-3 mb-4 bg-light rounded">
        <div class="col-md-12">
            <div class="col">
                <div class="form-group row align-middle">
                    <label class="col-sm-1 col-form-label">Prezzo</label>
                    <div class="col-sm-3">
                        <input type="prezzo" class="form-control" placeholder="Inserisci il prezzo" [(ngModel)]="price">
                    </div>
                    <label class="col-sm-1 col-form-label text-center">Valuta</label>
                    <div class="col-sm-1">
                        <select class="form-select" placeholder="Seleziona una valuta" [(ngModel)]="currency">
                            <option *ngFor="let cu of currencies" [ngValue]="cu">{{cu}}</option>
                        </select>                    
                    </div>
                    <label class="col-sm-2 col-form-label text-center">Costo di spedizione</label>
                    <div class="col-sm-4">
                        <input type="prezzoSpedizione" class="form-control" placeholder="Inserisci il costo della spedizione" [(ngModel)]="deliveryPrice">
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <button class="btn btn-primary" type="button" (click)="uploadProduct()">Carica</button>
    </div>
</div>