@media (min-height: 100px) {
    .img-box {
        height: 300px !important;
    }
}


.img-box{ height: 300px !important;}

.center-center {
    justify-content: center;
    align-items: center;
}

.align-row {
    margin-left: 0.1%;
}

.hover-effect:hover {
    opacity: 0.5;
}