<div class="container-sm py-2 mt-4">
    <div class="row">
        <div class="col-4 col-sm-2">
            <div class="row">
                <div class="col-4">
                    <img [src]="userImage | defaultProfilePic" class="rounded-circle" style="width: 200px; height: 200px;">
                </div>
            </div>
        </div>

        <div class=" col-6">
            <div class="row">
                <h4>{{visitedUser?.username}}</h4>
            </div>


            <div class="row">
                <div class="col col-auto">
                    <span class="fw-light">Followers: </span>
                    <span class="fw-bold">{{visitedUser?.followersNumber}}</span>
                </div>

                <div class="col col-auto">
                    <span class="fw-light">Following: </span>
                    <span class="fw-bold">{{visitedUser?.followingNumber }}</span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col col-auto">
                    <span class="fw-light">Reviews: </span>
                    <span class="fw-bold">{{visitedUser?.reviewsNumber}}</span>
                </div>
            </div>

            <div class="row mt-2">
                <span class="fw-bold">Bio</span>
                <span class="fw-light">{{visitedUser?.bio}}</span>
            </div>
        </div>

        <div *ngIf="user?.id == visitedUser?.id" class="col-4">
            <button class="btn btn-outline-secondary" type="button" [routerLink]="['/settings/profile-details']">Edit Profile</button>
        </div>

        <div *ngIf="user?.id != visitedUser?.id" class="col-4">
            <button class="btn btn-outline-success" type="button" [routerLink]="['/messages']">Message</button>
            <button *ngIf="isFollowing == false" class="btn btn-success margin-button" type="button" (click)="follow()">Follow</button>
            <button *ngIf="isFollowing == true" class="btn btn-outline-success margin-button" type="button" (click)="unfollow()">Unfollow</button>
            <button class="btn btn-outline-warning margin-button" type="button">
                <fa-icon [icon]="faCircleExclamation"></fa-icon>
            </button>
        </div>
    </div>

    <div class="row row-eq-height row-bottom">
        <div class="col-auto">
            <ul ngbNav #nav="ngbNav" class="nav-tabs mt-4">
                <li ngbNavItem>
                  <button class="btn-primary" ngbNavLink>Closet</button>
                  <ng-template ngbNavContent>
                    <closet [visitedUser]="visitedUser ?? null"></closet>
                  </ng-template>
                </li>

                <li ngbNavItem>
                  <button class="btn-primary" ngbNavLink>Reviews</button>
                  <ng-template ngbNavContent>
                    <review [visitedUser]="visitedUser ?? null"></review>
                  </ng-template>
                </li>

            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>
