<div class="col-12 offset-2 pt-4 flex-grow-0">
    <div class="row">
        <div class="col-12 col-sm-2">
            <div class="row">
                <div class="col-4">
                    <img [src]=" visitedUserProfile?.id | defaultProfilePic" class="rounded-circle" style="width: 200px; height: 200px;">
                </div>
            </div>
        </div>
        
        <div class=" col-sm-4">
            <div class="row">
                <h4>{{visitedUserProfile?.username}}</h4>
            </div>

            <div class="row">
                <div class="col col-auto">
                    <span class="fw-light">Followers: </span>
                    <span class="fw-bold">{{visitedUserProfile?.followersNumber}}</span>
                </div>

                <div class="col col-auto">
                    <span class="fw-light">Following: </span>
                    <span class="fw-light">{{visitedUserProfile?.followingNumber}}</span>
                </div>
            </div>

            <div class="row">
                <span class="fw-medium">{{visitedUserProfile?.bio}}</span>
            </div>
        </div>

        <div *ngIf="currentUserProfile?.id == visitedUserProfile?.id" class="col-12 col-sm-4">
            <button class="btn btn-outline-secondary" type="button" [routerLink]="['/settings/profile-details']">Edit Profile</button>     
        </div>

        <div *ngIf="currentUserProfile?.id != visitedUserProfile?.id" class="col-12 col-sm-4">
            <button class="btn btn-outline-success" type="button" [routerLink]="['/messages']">Message</button>
            <button class="btn btn-success margin-button" type="button">Follow</button>

            <button class="btn btn-outline-warning margin-button" type="button">
                <fa-icon [icon]="faCircleExclamation"></fa-icon>
            </button>
        </div>
    </div>
</div>