<div class="card mt-2 user-card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <img src="..." class="img-thumbnail rounded-circle" alt="...">
            </div>
            <div class="col-6">
                <div class="row">
                    <h5 style="white-space: nowrap;">Username</h5>
                </div>
                <div class="row">
                    <ngb-rating [rate]="rating!"></ngb-rating>
                </div>
            </div>
        </div>
    </div>
</div>