<div class="container mt-4">
  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-5 col-xl-4 border-end border-2">

        <div class="px-4 d-none d-md-block border-bottom" style="height: 4rem;">
          <div class="row align-items-center h-100">
            <div class="col">
              <input type="text" class="form-control " placeholder="Search..." ngModel [ngModel]="conversationSearch" (ngModelChange)="conversationSearchChanged($event)">
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-primary btn-sm">
                <fa-icon [icon]="writeIcon"></fa-icon>
                New Message</button>
            </div>
          </div>
        </div>
        <div style="max-height: 800px; overflow-y: scroll; overflow-x: hidden;">
          <ng-container *ngFor="let conversation of (conversationSearch != '' ? filteredConversations: conversations)">
            <conversation-preview [conversation]="conversation" [selected]="selectedConversation==conversation"></conversation-preview>
          </ng-container>
        </div>
      </div>
      <hr class="d-block d-lg-none">
      <div class="col-12 col-lg-7 col-xl-8">
        <div class="border-bottom border-2" style="height: 4rem;">

          <a [routerLink]="['/users', selectedConversation.otherUser.id]" class="text-reset text-decoration-none" *ngIf="selectedConversation">
            <div class="row align-items-center w-100 h-100 px-4">
              <div class="col-auto">
                <img [src]="selectedConversation.otherUser.photoProfile?.urlPhoto | defaultProfilePic" class="rounded-circle shadow" [alt]="selectedConversation.otherUser.photoProfile?.description" width="40" height="40">
              </div>
              <div class="col">
                <strong>{{selectedConversation.otherUser.username}}</strong>
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-warning">
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                  Report
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class="d-flex flex-column" style="height: 800px;">
          <div class="py-2 px-4 border-bottom" *ngIf="selectedConversation?.productBasicDTO">
            <a [routerLink]="['/products', selectedConversation?.productBasicDTO?.id]" class="text-reset text-decoration-none">
              <div class="row">
                <div class="col-auto">
                  <img [src]="selectedConversation?.productBasicDTO?.productImages?.urlPhoto" [alt]="selectedConversation?.productBasicDTO?.productImages?.description" width="60" height="60" class="rounded shadow">
                </div>
                <div class="col h-stack text-truncate" style="text-overflow: ellipsis;">
                  <h5>
                    {{selectedConversation?.productBasicDTO?.title}}
                  </h5>
                  <span class="my-0 text-muted">
                    {{selectedConversation?.productBasicDTO?.description}}
                  </span>


                </div>
                <div class="col-auto">
                  <strong>{{selectedConversation?.productBasicDTO?.productCost?.price| currency: selectedConversation?.productBasicDTO?.productCost?.currency }}</strong>
                </div>
              </div>
            </a>
          </div>

          <div class="flex-grow-1 flex-fill overflow-auto bg-light p-3 d-flex flex-column-reverse">
            <ng-container *ngFor="let message of messages; let i = index;">
              <message [message]="message"></message>
            </ng-container>
          </div>



          <div class="px-4 py-2 border-2 border-top align-self-end w-100">

            <div class="input-group ">
              <textarea type="textarea" class="form-control" placeholder="Type your message" ngModel [(ngModel)]="newMessageText" (keydown.enter)="sendMessage()" autocomplete="off">
              </textarea>
              <button class="btn btn-primary" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
