<div class="card shadow cursor-pointer" style="max-width: 20rem;">

  <div class="card-header text-truncate cursor-pointer" [routerLink]="['/user', product.seller?.id]">
    <img src="https://via.placeholder.com/50" alt="" class="rounded-circle" height="26px">
    <span class="ms-2">{{product.seller?.username}}</span>
  </div>

  <div class="ratio ratio-1x1" style="position: relative;">
    <img src="https://images1.vinted.net/t/01_02517_Pubqy93oy3L83AUu6AiFuKS3/f800/1684145820.jpeg?s=acf36b8e6d1facfe02851f20ca4041a5dd75e0df" class="card-img-top rounded-0" style="object-fit: cover;" [alt]="product.description">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <div class="row">
      <div class="col card-text">
        <span class="fw-medium">{{product.myMoney.price | currency:product.myMoney.currency}}</span>
        <br>
        <span class="text-secondary">{{product.brand}}</span>
      </div>
      <div class="col-auto align-self-end">
        <!-- like button with like counter on the right -->
        <button class="btn btn-outline-primary btn-sm" (click)="toggleLike()">
          <fa-icon [icon]="userLikesProduct ? fullHeartIcon : emptyHeartIcon" class="me-1"></fa-icon>
          <span class="fw-semibold d-inline-block" style="min-width: 1.1rem;">{{totalLikes}}</span>
        </button>
      </div>

    </div>
  </div>
