<div class="card shadow cursor-pointer" [routerLink]="['/products', product.id]">

  <div class="card-header text-truncate cursor-pointer" [routerLink]="['/users', product.seller?.id]">
    <img [src]="product.seller?.photoProfile?.urlPhoto | defaultProfilePic " alt="" class="rounded-circle" width="26px" height="26px">
    <span class="ms-2">{{product.seller?.username}}</span>
  </div>

  <div class="ratio ratio-1x1">
    <img [src]="cardImage" class="card-img-top rounded-0" style="object-fit: cover;" [alt]="product.description">
  </div>
  <div class="card-body" >
    <div class="text-truncate">
      <span class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{product.title}}</span>
    </div>
    <div class="row g-0">
      <div class="col card-text">
        <span class="fw-medium">{{product.productCost.price | currency:product.productCost.currency}}</span>
        <br>
        <span class="text-secondary">{{product.brand}}</span>
      </div>
      <div class="col-auto align-self-end">
        <!-- like button with like counter on the right -->
        <button class="btn btn-outline-primary btn-sm" (click)="toggleLike()" clickStopPropagation>
          <fa-icon [icon]="userLikesProduct ? fullHeartIcon : emptyHeartIcon" class="me-1"></fa-icon>
          <span class="fw-semibold d-inline-block" style="min-width: 1.1rem;">{{totalLikes}}</span>
        </button>
      </div>

    </div>
  </div>
</div>
