<div class="container mt-4 border-bottom p-2 shadow-sm">
    <div class="row">
        <div class="col-6 text-left float-start">
            <p>example@gmail.com</p>
        </div>

        <div class="col-6">
            <button class="btn btn-sm btn-outline-primary float-end" type="button">Change</button>
            <!-- add verified bedge or text-->
        </div>
    </div>    
</div>

<div class="container mt-4 border-bottom p-2 shadow-sm">
    <div class="row">
        <div class="col-6 text-left float-start">
            <p>Full Name</p>
        </div>

        <div class="col-6">
            <input type="text" class="form-control" id="exampleTextField" placeholder="Enter text">
        </div>
    </div>    
</div>