<div class="col mt-3 offset-2">
    <div class="row align-items-center">
        <table id="grid-table">
            <tr *ngFor="let p of reviewPageMap.get(pageNumber)">
                <review-card [review]="p"></review-card>
            </tr>
        </table>
    
    </div>
    
    <ngb-pagination class="d-flex justify-content-center"
        [(page)]="pageNumber"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        [collectionSize]="totalElements"
        (pageChange)="changePage()">
    </ngb-pagination>
</div>
    