<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-8">
            <div class="row-col">
                <product-images [thumbnails]="images"></product-images>
                <hr style="margin-top: 2rem; margin-bottom: 2rem;"/>
                <p style="word-wrap: break-word;">{{product?.description}}</p>
            </div>
        </div>
        <div class="col-1 d-none"></div>
        <div class="col-6 col-lg-3 col-md-8">
            <div class="row-col">
                <product-info [productInfo]="product"></product-info>
                <product-price [productDTO]="product"></product-price>
                <user-card [seller]="product?.seller" [rating]="rating"></user-card>
            </div>
        </div>
    </div>
</div>