<header class="border-bottom">
  <div class="container-sm py-2">
    <div class="row align-items-center gx-5">
      <div class="col-auto">
        <a class="navbar-brand" [routerLink]="['/home']">NOME APP</a>
      </div>


      <form class="col" role="search">
        <div class="row input-group">
          <input class="form-control col" type="search" placeholder="Search for items" aria-label="Search">
          <button class="btn btn-outline-success col-auto" type="submit">
            <fa-icon [icon]="search_icon"></fa-icon>
            Search
          </button>
        </div>
      </form>

      <div class="col-auto">
        <div *ngIf="isLoggedIn">


          <button class="btn btn-outline-primary me-2" [routerLink]="['/messages']">
            <fa-icon [icon]="messages_icon"></fa-icon>
          </button>
          <button class="btn btn-outline-primary me-2" [routerLink]="['/favourites']">
            <fa-icon [icon]="likes_icon"></fa-icon>
          </button>
          <div ngbDropdown class="d-inline-block me-2">

            <button ngbDropdownToggle class="btn btn-outline-primary " [routerLink]="['/users/me']">
              <fa-icon [icon]="user_icon"></fa-icon>
            </button>


            <ul ngbDropdownMenu class="p-2 rounded-3">
              <h6 class="dropdown-header">Account</h6>
              <li>
                <a ngbDropdownItem class="rounded-2" [routerLink]="">profile</a>
              </li>
              <li>
                <a ngbDropdownItem class="rounded-2" [routerLink]="['/settings']">settings</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a ngbDropdownItem class="rounded-2" (click)="isLoggedIn=false">log out</a>
              </li>
            </ul>
          </div>


          <button class="btn btn-primary" [routerLink]="['/products/new']">Sell now</button>
        </div>

        <div *ngIf="!isLoggedIn">
          <button class="btn btn-outline-primary me-2" [routerLink]="['/login']" (click)="isLoggedIn=true">
            <fa-icon [icon]="loginIcon"></fa-icon>
            Sign up | log in
          </button>
          <button class="btn btn-primary" [routerLink]="['/products/new']">Sell now</button>
        </div>

      </div>


    </div>
  </div>
</header>
<nav class="navbar navbar-expand-sm border-bottom py-0 bg-tertiary">
  <div class="container-sm">
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarWomanDropdown" role="button"> Woman </a>
        <div ngbDropdownMenu aria-labelledby="navbarWomanDropdown" class="gap-2 p-2 rounded-3">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">All</a>
          <hr class="dropdown-divider">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">Clothes</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">Shoes</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarMenDropdown" role="button"> Men </a>
        <div ngbDropdownMenu aria-labelledby="navbarMenDropdown" class="gap-2 p-2 rounded-3">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">All</a>
          <hr class="dropdown-divider">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">Clothes</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">Shoes</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarEntertainmentDropdown" role="button">entertainment</a>
        <div ngbDropdownMenu aria-labelledby="navbarEntertainmentDropdown" class="gap-2 p-2 rounded-3">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">All</a>
          <hr class="dropdown-divider">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 1</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 2</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 3</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarOtherDropdown" role="button"> Other </a>

        <div ngbDropdownMenu aria-labelledby="navbarOtherDropdown" class="gap-2 p-2 rounded-3">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">All</a>
          <hr class="dropdown-divider">
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 1</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 2</a>
          <a ngbDropdownItem class="rounded-2" [routerLink]="[]">option 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
