<header class="border-bottom">
  <div class="container-sm py-2">
    <div class="row align-items-center gx-5">
      <div class="col-auto">
        <a class="navbar-brand" [routerLink]="['/home']">NOME APP</a>
      </div>


      <form class="col" role="search">
        <div class="row input-group">
          <input class="form-control col" type="search" placeholder="Search for items" aria-label="Search">
          <button class="btn btn-outline-success col-auto" type="submit">
            <fa-icon [icon]="searchIcon"></fa-icon>
            Search
          </button>
        </div>
      </form>

      <div class="col-auto">
        <div *ngIf="isLoggedIn" class="hstack gap-3">


          <button class="btn btn-outline-primary position-relative" [routerLink]="['/messages']" (click)="unreadMessages = 2*unreadMessages + 1">
            <fa-icon [icon]="messagesIcon"></fa-icon>

            <span *ngIf="unreadMessages > 0" class="position-absolute top-0 start-100 badge rounded-pill bg-danger" style="transform: translate(-60%, -40%);">
              {{unreadMessages | badgeText}}
              <span class="visually-hidden">unread messages</span>
            </span>

          </button>
          <button class="btn btn-outline-primary position-relative" [routerLink]="['/']">
            <fa-icon [icon]="likesIcon"></fa-icon>
            <span *ngIf="likedProductsCount > 0" class="position-absolute top-0 start-100 badge rounded-pill bg-danger" style="transform: translate(-60%, -40%);">
              {{likedProductsCount | badgeText}}
              <span class="visually-hidden">liked products</span>
            </span>
          </button>
          <div ngbDropdown class="d-inline-block me-2">

            <button ngbDropdownToggle class="btn btn-outline-primary">
              <fa-icon [icon]="userIcon"></fa-icon>
            </button>


            <ul ngbDropdownMenu class="p-2 rounded-3">
              <h6 class="dropdown-header">Account</h6>
              <li>
                <!-- TODO: Add argument to routerLink when account id is available-->
                <!-- <button ngbDropdownToggle class="btn btn-outline-primary " [routerLink]="['/users', {{user.id}}]"></button> -->
                <a ngbDropdownItem class="rounded-2" [routerLink]="['/users/me']">Profile</a>
              </li>
              <li>
                <a ngbDropdownItem class="rounded-2" [routerLink]="['/settings']">Settings</a>
              </li>
              <li>
                <a ngbDropdownItem class="rounded-2" [routerLink]="['/purchasing-page']">Purchasing-page (DEBUG)</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a ngbDropdownItem class="rounded-2" (click)="logout()">Log out</a>
              </li>
            </ul>
          </div>


          <button class="btn btn-primary" [routerLink]="['/products/new']">Sell now</button>
        </div>

        <div *ngIf="!isLoggedIn">
          <button class="btn btn-outline-primary me-2" [routerLink]="['/login']">
            <fa-icon [icon]="loginIcon"></fa-icon>
            Sign up | log in
          </button>
          <button class="btn btn-primary" [routerLink]="['/products/new']">Sell now</button>
        </div>

      </div>


    </div>
  </div>
</header>
<nav class="navbar navbar-expand-sm border-bottom py-0 bg-tertiary">
  <div class="container-sm">
    <ul class="navbar-nav">
      <nav-bar-menu-item title="woman" [primaryCategory]="clothingCategory"></nav-bar-menu-item>
      <nav-bar-menu-item title="man" [primaryCategory]="clothingCategory"></nav-bar-menu-item>
      <nav-bar-menu-item title="entertainment" [primaryCategory]="entertainmentCategory"></nav-bar-menu-item>
      <nav-bar-menu-item title="home" [primaryCategory]="homeCategory"></nav-bar-menu-item>
      <li class="nav-item">
        <a class="nav-link" tabindex="0" role="button">Other</a>
      </li>
    </ul>
  </div>
</nav>
