<header class="border-bottom">
  <div class="container-sm py-2">
    <div class="row align-items-center gx-5">
      <div class="col-auto">
        <a class="navbar-brand" href="#">NOME APP</a>
      </div>


      <form class="col" role="search">
        <div class="row">
          <input class="form-control me-2 col" type="search" placeholder="Search for items" aria-label="Search">
          <button class="btn btn-outline-success col-auto" type="submit">Search</button>
        </div>
      </form>

      <div class="col-auto">

        <button class="btn btn-outline-primary me-2">Sign up | log in</button>
        <button class="btn btn-primary">Sell now</button>
      </div>


    </div>
  </div>
</header>
<nav class="navbar navbar-expand-sm border-bottom py-0 bg-tertiary">
  <div class="container-sm">
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarWomanDropdown" role="button"> Woman </a>
        <div ngbDropdownMenu aria-labelledby="navbarWomanDropdown" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 1</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 2</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 3</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarMenDropdown" role="button"> Men </a>
        <div ngbDropdownMenu aria-labelledby="navbarMenDropdown" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 1</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 2</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 3</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="Other" role="button"> Other </a>
        <div ngbDropdownMenu aria-labelledby="Other" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 1</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 2</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">SUB CATEGORY 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
