<li class="nav-item" ngbDropdown>
  <a class="nav-link" tabindex="0" ngbDropdownToggle [id]="'navbar' + title + 'Dropdown'" role="button">{{title}}</a>
  <div ngbDropdownMenu class="rounded-3 p-2">
    <div class="row">
      <div class="col-4">
        <button class="btn btn-outline-primary" [routerLink]="">
          All
        </button>
        <hr class="dropdown-divider w-100">
        <div class="btn-group-vertical" role="group">

          <ng-container *ngFor="let secondaryCategory of primaryCategory?.childCategories; first as isFirst;">
            <input type="radio" [id]="uniqueId+secondaryCategory.rawName" [name]="uniqueId+secondaryCategory.rawName" [value]="secondaryCategory" class="btn-check" autocomplete="off">
            <label [for]="uniqueId+secondaryCategory.rawName" class="btn btn-outline-primary">
              {{secondaryCategory.name}}
            </label>
          </ng-container>
        </div>
      </div>
      <span class="vr"></span>

      <div class="col-7">

        <div class="row">
          <ng-container *ngFor="let tertiaryCategory of selectedSecondaryCategory?.childCategories">
            <button class="btn btn-outline-primary col-6">
              <a>{{tertiaryCategory.name}}</a>
            </button>
          </ng-container>
        </div>

      </div>

    </div>
  </div>
</li>
