<div class="row">
  <div class="basic-container">
    <div class="text-center mb-1">
      <span class="fw-bold fs-5">Report Id: {{ report!.id }}</span>
    </div>

    <div class="row">
      <div class="col-10">
        <div class="row>">
          <span class="fw-semibold">Created: </span>
          <span>{{ report!.date | date : "short" }}</span>
          <span class="fw-semibold"> - Updated: </span>
          <span>{{ report!.lastUpdate | date : "short" }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Reporter user: </span>
          <span>{{ report!.reporterUser!.username }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Reported user: </span>
          <span>{{ report!.reportedUser!.username }}</span>
        </div>

        <div *ngIf="report?.reportedProduct" class="row>">
          <span class="fw-semibold">A product is linked.</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Description: </span>
          <span class="font-italic">{{ report!.description }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Status: </span>
          <span>{{ report!.status }}</span>
        </div>
      </div>

      <div class="col col-2">
        <div class="row">
          <button
            *ngIf="report?.reportedUser?.status != 'BANNED'"
            class="btn btn-primary btn-sm m-1"
            type="button"
            (click)="banUser()"
          >
            <fa-icon [icon]="faUserSlash"></fa-icon>
            Ban
          </button>
        </div>

        <div class="row">
          <button
            *ngIf="report?.reportedUser?.status == 'BANNED'"
            class="btn btn-success btn-sm m-1"
            type="button"
            (click)="unBanUser()"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            Unban
          </button>
        </div>

        <div class="row">
          <button
            class="btn btn-secondary btn-sm m-1"
            type="button"
            [routerLink]="['/users', report!.reportedUser!.id]"
          >
            <fa-icon [icon]="faAddressCard"></fa-icon>
            View Profile
          </button>
        </div>

        <div *ngIf="report?.reportedProduct" class="row">
          <button
            class="btn btn-secondary btn-sm m-1"
            type="button"
            [routerLink]="['/products', report!.reportedProduct?.id]"
          >
            <fa-icon [icon]="faBoxesPacking"></fa-icon>
            View product
          </button>
          <button
            class="btn btn-danger btn-sm m-1"
            type="button"
            clickStopPropagation
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            (click)="deleteProduct()"
          >
            <fa-icon [icon]="faTrashCan"></fa-icon>
            Remove product
          </button>
        </div>

        <div *ngIf="report?.status != 'CLOSED'" class="row float-end">
          <button
            class="btn btn-danger m-1"
            type="button"
            clickStopPropagation
            data-bs-toggle="modal"
            data-bs-target="#closeReportModal"
            (click)="closeReport()"
          >
            <fa-icon [icon]="faBoxArchive"></fa-icon>
            Close and archive report
          </button>
        </div>

        <div *ngIf="report?.status == 'CLOSED'" class="row float-end">
          <button
            class="btn btn-secondary m-1"
            type="button"
            disabled
          >
            <fa-icon [icon]="faBoxArchive"></fa-icon>
            Archived
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Delete product modal -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <delete-product-modal [product]="reportedProduct" (isProductDeletedWithError)="handleDeleteErrorEvent($event)" (isProductDeleted)="handleDeleteEvent($event)"></delete-product-modal>
    </div>
  </div>
</div>

<ngb-toast *ngIf="isProductDeleted" class="fixed-bottom-left bg-success text-light" [autohide]="true" (hidden)="isProductDeleted=false">
  <fa-icon [icon]="faExclamation" class="me-1"></fa-icon>
	The product was successfully deleted! Thank you for your feedback!
</ngb-toast>

<ngb-toast *ngIf="isProductDeletedWithError" class="fixed-bottom-left bg-danger text-light" [autohide]="true" (hidden)="isProductDeletedWithError=false">
  <fa-icon [icon]="faExclamationTriangle" class="me-1"></fa-icon>
  Product deletion failed! You can't delete a product in an active order!
</ngb-toast>

<ngb-toast *ngIf="report?.status == 'CLOSED'" class="fixed-bottom-left bg-success text-light" [autohide]="true" (hidden)="report?.status == 'CLOSED'">
  <fa-icon [icon]="faExclamation" class="me-1"></fa-icon>
	The report status has been changed to "CLOSED"
</ngb-toast>
