<div class="row">
  <div class="basic-container">
    <div class="text-center mb-1">
      <span class="fw-bold fs-5">Report Id: {{ report!.id }}</span>
    </div>

    <div class="row">
      <div class="col-10">
        <div class="row>">
          <span class="fw-semibold">Created: </span>
          <span>{{ report!.date | date : "short" }}</span>
          <span class="fw-semibold"> - Updated: </span>
          <span>{{ report!.lastUpdate | date : "short" }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Reporter user: </span>
          <span>{{ report!.reporterUser!.username }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Reported user: </span>
          <span>{{ report!.reportedUser!.username }}</span>
        </div>

        <div *ngIf="report?.reportedProduct" class="row>">
          <span class="fw-semibold">A product is linked.</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Description: </span>
          <span class="font-italic">{{ report!.description }}</span>
        </div>

        <div class="row>">
          <span class="fw-semibold">Status: </span>
          <span>{{ report!.status }}</span>
        </div>
      </div>

      <div class="col col-2">
        <div class="row">
          <button
            *ngIf="report?.reportedUser?.status != 'BANNED'"
            class="btn btn-danger btn-sm m-1"
            type="button"
            (click)="banUser()"
          >
            <fa-icon [icon]="faUserSlash"></fa-icon>
            Ban
          </button>
        </div>

        <div class="row">
          <button
            *ngIf="report?.reportedUser?.status == 'BANNED'"
            class="btn btn-primary btn-sm m-1"
            type="button"
            (click)="unBanUser()"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            Unban
          </button>
        </div>

        <div class="row">
          <button
            class="btn btn-secondary btn-sm m-1"
            type="button"
            [routerLink]="['/users', report!.reportedUser!.id]"
          >
            <fa-icon [icon]="faAddressCard"></fa-icon>
            View Profile
          </button>
        </div>

        <div *ngIf="report?.reportedProduct" class="row">
          <button
            class="btn btn-secondary btn-sm m-1"
            type="button"
            [routerLink]="['/products', report!.reportedProduct?.id]"
          >
            <fa-icon [icon]="faBoxesPacking"></fa-icon>
            View product
          </button>
          <button
            class="btn btn-secondary btn-sm m-1"
            type="button"
            (click)="removeProduct()"
          >
            <fa-icon [icon]="faTrashCan"></fa-icon>
            Remove product
          </button>
        </div>

        <div class="row float-end">
          <button
            class="btn btn-danger m-1"
            type="button"
            (click)="closeReport()"
          >
            <fa-icon [icon]="faBoxArchive"></fa-icon>
            Close and archive report
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
