<div class="container shadow rounded">
  <div class="col text-truncate cursor-pointer pt-2" [routerLink]="['/users', review.reviewer.id]">
    <img [src]="review.reviewer.photoProfile | defaultProfilePic" alt="" class="rounded-circle" height="26px">
    <span class="ms-2">{{review.reviewer.username}}</span><br>
  </div>
  <div class="row ms-4">
    <div class="col" *ngFor="let item of [].constructor(5); let i = index" style="max-width: 10px;">
      <span class="fa fa-star checked" *ngIf="review.vote && i < review.vote; else emptyStar"></span>
      <ng-template #emptyStar>
        <span class="fa fa-star"></span>
      </ng-template>
    </div>
    <p class="mt-2">{{review.description}}</p>
    <p class="fst-italic" style="font-size: 12px;">{{review.date| date}}</p>
  </div>
</div>
