<div class="container">

  <div class="basic-container">
    <h4 class="my-2">Your orders</h4>

    <div>
      <ng-container *ngFor="let order of orders">
        <order-card [orderBasic]="order"></order-card>
      </ng-container>
    </div>

    <div class="m-2 d-flex justify-content-center ">
      <ngb-pagination [collectionSize]="totalOrdersCount" [(page)]="visualPage" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadProductsPage()">
      </ngb-pagination>
    </div>
  </div>

</div>
