<div class="container">

  <div class="basic-container">
    <h4 class="my-2">Your orders</h4>

    <div>
      <ng-container *ngFor="let order of orders">
        <div class="card p-3 shadow-sm">

          <div class="row">
            <div class="col">
              created on: {{order.orderDate | date }}
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" [routerLink]="['/orders', order.id]">
                <fa-icon [icon]="faOpen"></fa-icon>
                <span class="ms-2">Go to order</span>
              </button>
            </div>
          </div>

        </div>
      </ng-container>
    </div>

    <div class="m-2 d-flex justify-content-center ">
      <ngb-pagination [collectionSize]="totalOrdersCount" [(page)]="visualPage" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadProductsPage()">
      </ngb-pagination>
    </div>
  </div>

</div>
