<div class="container">

  <h1 class="my-3 text-center">Orders on your products</h1>
  <orders-list [HideIfEmpty]="false" messageIfEmpty="no orders for your products yet" [LoadOrdersForCurrentUserProducts]="true"></orders-list>

  <hr class="my-5">

  <h1 class="my-3 text-center">Your orders</h1>

  <orders-list title="Pending orders"   orderState="PENDING"></orders-list>
  <orders-list title="Purchased orders" orderState="PURCHASED"></orders-list>
  <orders-list title="Shipped orders"   orderState="SHIPPED"></orders-list>
  <orders-list title="Delivered orders" orderState="DELIVERED"></orders-list>
  <orders-list title="Completed orders" orderState="COMPLETED"></orders-list>
  <orders-list title="Reviewed orders"  orderState="REVIEWED"></orders-list>
  <orders-list title="Orders cancelled" orderState="CANCELED"></orders-list>

</div>
