<div class="container">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-5 mt-4">
      <div class="row-col">

        <div class="card mb-4">
          <div class="card-body">

            <!-- <div id="g_id_onload" data-client_id="1049827257011-ete5d6u7kjq601i6ra2ukaus5nsd3het.apps.googleusercontent.com" data-context="signin" data-login_uri="https://localhost:8443/api/v1/users/login-with-google" data-itp_support="true">
            </div> -->
            <div id="g_id_onload" data-client_id="1049827257011-ete5d6u7kjq601i6ra2ukaus5nsd3het.apps.googleusercontent.com" data-context="signin" data-callback="handleCredentialResponse" data-itp_support="true">
            </div>

            <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="continue_with" data-size="large" data-locale="en-US" data-logo_alignment="left">
            </div>

          </div>

        </div>
        <login-form></login-form>
      </div>
    </div>

    <div class="col-lg-2 d-none d-lg-flex">

    </div>

    <div class="col-12 col-md-6 col-lg-5 mt-4">

      <register-form></register-form>
    </div>
  </div>
</div>
