
<form #loginForm="ngForm" (ngSubmit)="this.onSubmit()">


  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input ngModel type="username" #username="ngModel" [ngModel]="username" (ngModelChange)="setUsername($event)" name="username" class="form-control" id="username" [value]="username" aria-describedby="usernameHelp" required>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors?.['required']">
        Username is required.
      </div>
    </div>
  </div>


  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input ngModel type="password" #password="ngModel" [ngModel]="password" (ngModelChange)="setPassword($event)" name="password" class="form-control" [value]="password" id="password" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors?.['required']">
        Password is required.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
</form>

