@import './scss/main.scss';

.basic-container {

  /*** Basic Container ***/

  /* You can use this class anywhere you place a div that is placed on the top of the body,
      see the setting/account-settings page for reference. */
  
  @extend .container;
  @extend .shadow-sm;
  @extend .mt-4;
  @extend .p-2;

  background-color: $gray-100;
}

.custom-column-spacing {
  margin-bottom: 10px;
}

.custom-right-container{
  @extend .container;
  @extend .shadow-sm;
  @extend .mt-4;
  @extend .p-2;

  position: sticky;
  top: 250px;
  right: 0;

  flex-shrink: 0;
  width: 300px;
  height: 200px;
  padding: 10px;
}
    