<div class="row">
    <table>
        <tr *ngFor="let p of productPage | slice: (page-1) * pageSize : page * pageSize">
          <product-card [product]="p"></product-card>
        </tr>
    </table>

    <ngb-pagination>
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>
</div>